@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Modern Antiqua", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./assets/images/Leather-BG.png");
  background-size: cover;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
}

.App .leftSide, .App .rightSide {
  width: 30%;
  background: none;
}

.App .mainContainer {
  width: 40%;
  max-height: 100vh;
  background-image: url("./assets/images/page-bg.png");
  background-size: 100% 95%;
  background-position: center;
  background-repeat: no-repeat;
}

.App .mainContainer div {
  width: 80%;
  height: 80%;
  position: relative;
  top: 100px;
  left: 80px;
  padding: 20px;
}

.App .rightSide {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;;
}

.App .rightSide .book {
  background: none;
  background-image: url("./assets/images/closed-book.png");
  background-size: 98% 108%;
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  border: none;
  font-family: "Modern Antiqua", cursive;
  font-size: 22px;
}

.App .rightSide .book:active, .App .rightSide .book:focus {
  outline: none;
  
}

.App .rightSide .book:active {
  transform: scale(1.2)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
